export remix_binaries_dir="<path_to_remix_binaries_dir>"
export hbop_dir="<path_to_hbop_dir>"
export gatk_jar="<path_to_gatk_jar>"
export picard_jar="<path_to_picard_jar>"
export trimmomatic_jar="<path_to_trimmomatic_jar>"
export longranger_remix_bin="<path_to_longranger_remix_bin>"
export cutadapt_bin="<path_to_cutadapt_bin>"
export bwa_bin="<path_to_bwa_bin>"
export samtools_bin="<path_to_samtools_bin>"
export bcftools_bin="<path_to_bcftools_bin>"
export tmp_dir="<path_to_tmp>"
